header.hero.framework
    .container
        h1 Famous
            wbr
            span Framework
        h2 A JavaScript framework for creating expressive, high-performance user interfaces.

        .install
            a.button(href='http://eepurl.com/bpZGVb' target='_blank') Join the private beta

    .subscribe
        form(target="_blank" method="POST" action="//famous.us5.list-manage.com/subscribe/post?u=4656ba2b0a364690c8530bc1e&amp;id=fe5c0dd6d4")
            input(type="email" placeholder="Email Address" name="EMAIL")
            button Get Updates