header.hero
  .container
    h1 Famous
        wbr
        span Engine
    h2 High-performance javascript library for animations & interfaces

    .install
      a.button.get-started(href='get-started.html') Get Started
      a.button.learn(href='learn/hello-famous.html') Learn More

  .subscribe
    form(target="_blank" method="POST" action="//famous.us5.list-manage.com/subscribe/post?u=4656ba2b0a364690c8530bc1e&amp;id=fe5c0dd6d4")
      input(type="email" placeholder="Email Address" name="EMAIL")
      button Get Updates
