header.hero
  .container
    h1 Famous
        wbr
        span Engine
    h2 High-performance javascript library for animations & interfaces

    .install
      a.button.get-started(href='get-started.html') Get Started
      a.button.learn(href='learn/hello-famous.html') Learn More
