section.plays-well-with-others
    h3 Plays well with others
    ul
        li.angular
        li.flux
        li.bootstrap
        li.cordova
        li.apple
        li.windows
        li.android
        li.linux
        li.safari
        li.firefox
        li.chrome
        li.ie
