<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type": "WebSite",
  "name": "Famous.org",
  "alternateName": "Famous Industries",
  "url": "http://www.famous.org"
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "Famous.org",
  "url": "http://www.famous.org",
  "logo": "http://code.famo.us/assets/famous.jpg",
  "sameAs": [
    "http://www.facebook.com/famousindustries",
    "http://www.twitter.com/befamous",
    "http://github.com/famous/"
  ]
}
</script>
